.features {
  display: none;

  @include desctop {
    display: block;
    padding-bottom: 111px;
  }

  & > .container_modificate {
    position: relative;
  }

  &__screen {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__funny-img {
    position: absolute;
    bottom: 166px;
    left: 0;
  }

  &__content {
    width: 100%;
    max-width: 462px;
  }

  &__uptitle {
    color: $green;
  }

  &__title {
    margin: 24px 0 30px;
  }

  &__text {
    margin-bottom: 42px;
  }

  &__acquire {
    position: relative;
    margin-bottom: 8px;
    padding-left: 39px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: $blue;

    &::before {
      position: absolute;
      content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png");
      width: 24px;
      height: 24px;
      top: 1px;
      left: 0;
    }

    &::after {
      position: absolute;
      content: url("../images/features/hand.png");
      width: 24px;
      height: 24px;
      top: 10px;
    }
  }

  &__acquire-text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
  }

  &__options {
    width: 100%;
    max-width: 457px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    border-top: 2px solid $blue;
  }

  &__option {
    position: relative;
    padding: 22px 0 22px 38px;
    border-bottom: 1px solid $more-grey;
    
    &--build::before {
      position: absolute;
      content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png");
      width: 23px;
      height: 25px;
      top: 20px;
      left: 0;
    }
    
    &--bucket::before {
      position: absolute;
      content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png");
      width: 22px;
      height: 22px;
      top: 24px;
      left: 0;
    }
  }
}
