.hiring {
  padding: 50px 15px;
  
  @include desctop {
    padding: 105px 0 112px;
  }

  &__content {
    @include desctop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
  }

  &__text {
    margin: 23px 0 30px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;

    @include desctop {
      width: 100%;
      max-width: 555px;
      margin-bottom: 36px;
    }
  }

  &__button {
    margin-bottom: 39px;

    @include desctop {
      width: 247px !important;
      margin-bottom: 108px;
    }
  }

  &__vacancy {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__vacancys {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 140px;
    padding: 15px 70px 19px 20px;
    border: 1px solid $super-grey-light;
    border-radius: 8px;

    @include desctop {
      width: 750px;
      min-height: 81px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s linear;

      &:hover {
        background-color: $blue;
        border: transparent;
        .hiring__offer_title,
        .hiring__offer_text {
          color: $white;
        }
        .hiring__icon {
          background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include desctop {
        margin-bottom: 20px;
      }
    }

    &_next {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50px;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0px 8px 8px 0px;
      background-color: #d5d4d5;

      @include desctop {
        background-color: transparent;
      }
    }

    &_title {
      margin-bottom: 21px;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;

      @include desctop {
        flex: 1;
        margin-bottom: 0;
      }
    }

    &_text {
      font-size: 16px;
      line-height: 22px;
      color: $grey;

      @include desctop {
        flex: 1;
        text-align: center;
      }
    }
  }
  
  &__icon {
    display: block;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
    width: 7px;
    height: 12px;
  }
}
