@import "variables";
@import "layout";
@import "header";
@import "headline";
@import "about";
@import "customers";
@import "features";
@import "communication";
@import "inbox";
@import "audience";
@import "tips";
@import "feedback";
@import "hiring";
@import "order";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: $white;
  color: $main-color;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {

  @include desctop {
    display: block;
    width: 1140px;
    margin: 0 auto;
  }

  &_modificate {
    @include desctop {
      width: 1400px;
    }
  }
}

.button {
  width: 100%;
  max-width: 290px;
  height: 48px;
  font-weight: 700;
  line-height: 13px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background-color: $shine-blue;
  color: $white;

  @include desctop {
    width: 160px;
    height: 48px;
  }

  &_more {
    background-color: $white;
    color: $shine-blue;
  }
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.357143px;
  
  @include desctop {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}

.uptitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}

.text {
  font-size: 24px;
  line-height: 34px;
}
