$grey : rgba(0, 0, 0, 0.6);
$more-grey: rgba(43, 41, 45);
$more-grey-light: rgba(43, 41, 45, 0.15);
$super-grey-light: rgba(43, 41, 45, 0.2);
$light-grey: #f4f5f7;
$shine-blue: #3040c4;
$blue: #3142c6;
$green: #009b4d;
$white: #fff;
$peach-color: #f3c6bd;
$warm-light-orange: #fcf0e3;
$orange: #f1592b;
$main-color: #2b292d;
$light-blue: rgba(0, 161, 198, 0.7)